body{
    background-image: url(../img/black-yellow.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
}
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(7, 6, 6);
}
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.box{
    text-transform: uppercase;
    color:yellow;
    display: inline-block;
    padding: 10px;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 100px;
    margin: 5px;
    text-decoration: none;
}

.box:hover {
    background-color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main {
    text-align: left;
    margin-left: 50px;
}

.HeadTekst {
    color: lightgray;
    font-size: clamp(3rem, 2vw, 125px);
    font-family: sans-serif;
    max-width: 1130px;
    margin-bottom: auto;
    margin-top:10px;
}

.div {
    max-width: fit-content;
    padding: 5px;
    border: 1px solid yellow;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

.Tekst {
    color: lightgray;
    font-size: clamp(1rem, 2vw, 25px);
    font-family: cursive;
    max-width: 800px;
    margin-top: auto;
}

.name {
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    background:linear-gradient(to right,
    orange, yellow, orange, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.student {
    color: yellow;
    display: inline-block;
    padding: 10px;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
}

.Seperator{
    display: flex;
}

img {
    margin: 10px 0;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 20px;
}