body{
    background-image: url(../img/red-black.jpg);
    background-size: cover;
    background-color: rgb(255, 254, 254);
}
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(7, 6, 6);
}
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.box{
    text-transform: uppercase;
    color:red;
    display: inline-block;
    padding: 10px;
    background-color: black;
    border: 1px solid red;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.box:hover {
    background-color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main {
    text-align: center;
}

.HeadTekst {
    color: lightgray;
    font-size: 120px;
    font-family: sans-serif;
    max-width: 1130px;
    margin: 0 auto;
}

.Tekst {
    color: lightgray;
    font-size: clamp(1rem, 2vw, 25px);
    font-family: sans-serif;
    max-width: 800px;
    border-radius: 20px;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    background:linear-gradient(to right,
    orange, red, orange, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.student {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(156, 62, 159);
    display: inline-block;
    padding: 10px;
    background-color: black;
    border: 1px solid rgb(156, 62, 159);
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
}

@media (max-width:700px) {
    .contact-layout {
        flex-direction: column;
        gap:20px
    }

    .contact-info {
        text-align: center;
    }
}
.contact-layout {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1100px;
    margin:40 auto;
    padding:20px
}

.contact-info{
    color: white;
    max-width: 400px;
    text-align: left;
    background-color: rgb(7, 6, 6);
    padding: 20px;
    border-radius: 20px;
}

.red{
    color: red;
}

h2{
    font-size: clamp(1.5rem, 2vw, 40px)
}

.contact-container{
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.error-message {
    color: red;
    font-size: clamp(0.8rem, 1vw, 1rem);
}